.signUpGrp input {
  width: 265px;
}

.pp {
  color: hsl(243, 86%, 85%);
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.colorMe1 {
  background-color: hsl(163, 95%, 43%) !important;
  border-color: hsl(163, 95%, 43%) !important;
  width: 130px;
}

.callToA {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(243, 86%, 85%);
  font-size: 15px;
}
